# API port
PORT=4000

# JWT secret
JWT_SECRET=secret

# MongoDB URI
MONGO_URI=mongodb://localhost:27017

# Secret string to add a new random register token
REGISTER_SECRET=secret

# String to encode register token
REGISTER_JWT_SECRET=super-secret

# API to get items data
# 3rd party API https://www.albion-online-data.com/api/v2/stats/
DATA_API_URL=https://albion-profit-calculator.com/api