# API port
PORT=4000

# JWT secret
JWT_SECRET=secret

# MongoDB URI
MONGO_URI=mongodb://localhost:27017

# Secret string to add a new random register token
REGISTER_SECRET=secret

# String to encode register token
REGISTER_JWT_SECRET=super-secret

# API to get items data
# 3rd party API https://www.albion-online-data.com/api/v2/stats/
DATA_API_URL=https://albion-profit-calculator.com/api

# More workers/requests -> faster transportation updates -> more CPU consumed
MAX_TRANSPORTATION_WORKERS=1
MAX_PARALLEL_TRANSPORTATION_WORKER_REQUESTS=8

# CodeX bot webhook url
NOTIFY_WEBHOOK=https://notify.bot.codex.so/u/wh4t3v3r

# Available servers handler bypass token for workers
AVAILABLE_SERVERS_BYPASS=any_string